/* Style général */
.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #f0f2f5;
    -fx-padding: 10;
}

/* Menu bar */
.menu-bar {
    -fx-background-color: #3f51b5;
    -fx-padding: 5px;
}
.menu {
    -fx-text-fill: white;
}
.radio-menu-item {
    -fx-text-fill: black;
}

/* Table view */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #c5cae9;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}
.table-column {
    -fx-alignment: CENTER-LEFT;
    -fx-font-weight: bold;
}
.table-row-cell:selected {
    -fx-background-color: #c5cae9;
}

/* GridPane in ScenarioEditor */
.grid-pane {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-color: #c5cae9;
    -fx-border-radius: 5;
    -fx-border-width: 1px;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/* Labels */
.label {
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

/* Text fields */
.text-field {
    -fx-background-color: #fafafa;
    -fx-border-color: #ccc;
    -fx-border-radius: 3;
    -fx-padding: 5 10 5 10;
}

/* Buttons */
.button {
    -fx-background-color: #3f51b5;
    -fx-text-fill: white;
    -fx-padding: 6px 14px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.1), 2, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: #5c6bc0;
}

.button:pressed {
    -fx-background-color: #303f9f;
}
